body{
    margin: 0px;
}

.animateExample .example-enter,
.animateExample .example-leave {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.animateExample .example-enter {
    margin-top: 20px;
    opacity: 0;    
}

.animateExample .example-enter.example-enter-active {
    margin-top: 0px;
    opacity: 1;
}

.animateExample .example-leave {
    opacity: 1;
}

.animateExample .example-leave.example-leave-active {
    max-height:  0px;
    opacity: 0;    
}
.Fold{
    float: left;
    position: absolute;
    display: block;
    background-color: #383838;
    perspective: 500px;
}

.Fold > .Sheet{
    position: absolute;
    display: block;
    background-image: url(20339746.jpg);
    transition: all .5s ease-out; 
    background-repeat: no-repeat;
}
.Fold > .Sheet:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .5s ease-out;
    background-color: hsla(0, 0%, 50%, 0);
}
.Fold > .Sheet.bright:before{
    background-color: hsla(0, 0%, 90%, 0.3);
}
.Fold > .Sheet.dark:before{
    background-color: hsla(37, 17%, 22%, 0.3);
}
.Fold > .Text{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: 5px;
    color: #ffffff;
}
